# Commercial IWADs that should never be uploaded or I'll get sued

# Doom
doom.wad
DOOM.WAD
doomu.wad
DOOMU.WAD
bfgdoom.wad
doombfg.wad

# Doom II
doom2.wad
DOOM2.WAD
bfgdoom2.wad
doom2bfg.wad
doom2f.wad
DOOM2F.WAD

# Final Doom
tnt.wad
TNT.WAD
plutonia.wad
PLUTONIA.WAD

# Heretic
heretic.wad
HERETIC.WAD
hereticsr.wad
HERETICSR.WAD

# Hexen
hexen.wad
HEXEN.WAD
hexendd.wad
HEXENDD.WAD

# Strife
strife1.wad
STRIFE1.WAD
strife.wad
STRIFE.WAD
sve.wad

