# Commercial IWADs that should never be uploaded or I'll get sued

# Doom
doom.wad
doomu.wad
bfgdoom.wad
doombfg.wad

# Doom II
doom2.wad
bfgdoom2.wad
doom2bfg.wad
doom2f.wad

# Final Doom
tnt.wad
plutonia.wad

# Heretic
heretic.wad
hereticsr.wad

# Hexen
hexen.wad
hexendd.wad

# Strife
strife1.wad
strife.wad
sve.wad

